.admin-add .mde-text
{
    color: black !important;
    width: 85vw;
    padding: 1vw;
    border-radius: 24px;
}
.admin-add .mde-tabs button
{
    margin-left: 2vw;
    background-color: #9ab2df;
    padding: 1.5vh;
    border-radius: 12px;
    margin-bottom: 4vh;
}
.admin-add .react-mde
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.admin-add .mde-header-group
{
    display: inline !important;
    list-style-type: none;
}
.admin-add .mde-header-item 
{
    float: left;
}
.admin-add .mde-header-item button 
{
    color: black;
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 0.5vw;
}
.admin-add .mde-preview
{
    color: black;
}
.admin-add .chakra-radio__control
{
    background-color: white;
}

.events .vertical-timeline-element::after{
    border: none !important;
}
.events .vertical-timeline
{
    width: 80vw;
}
.events-vertical span
{
    color: #ea8a94 !important;
}
.events .vertical-timeline-element-content
{
    /* color: #ea8a94 !important; */
    color: #ea8a94 !important;
    font-size: 2vw !important;
    padding: 1vw !important;
    font-weight: bold !important;
    backdrop-filter: blur(20px);
    /* height: 10vw;
    width: 25vw; */
}
.events .pink .vertical-timeline-element-icon
{
    border-color: #ea8a94 !important;
    background-color: #ea8a94 !important;
}
.events .pink.vertical-timeline::before, .events .pink .vertical-timeline-element-content.bounce-in::after
{
    background-color: #ea8a94 !important;
}
.events-vertical input 
{
    color: black ;
    padding: 10px;
    width: 70vw;
    height: 4vh;
    border-radius: 12px;
}

.events-details-box-container {
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 12px;
}


.events-details-box {
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 16px;
    background-color: #ffffff;
    border-radius: 8px;
    width: 100%;
    min-width: 300px;
    flex: 1;
    /* margin-top: 12px; */
}

.datetime-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    gap: 16px;
    border-radius: 8px;
    margin-top: 20px;
}

.datetime-head {
    justify-content: center;
    background-color: #137cdd;
    padding: 16px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-weight: bold;
    text-align: center;
}


.datetime-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.datetime{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
    padding: 16px;
    padding-top: 0;
}

.events-vertical .border
{
    border: 2px solid black;
}

.events-vertical .flip-card
{
    perspective: 500px;
}
.events-vertical .flip-card-inner, .profile-main-flex .flip-card-inner
{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}
.events-vertical .flip-card:hover .flip-card-inner, .profile-main-flex .flip-card:hover .flip-card-inner
{
    transform: rotateY(180deg);
}
.events-vertical .flip-card-front, .events-vertical .flip-card-back, .profile-main-flex .flip-card-front, .profile-main-flex .flip-card-back
{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden !important;
}
.profile-main-flex .flip-card-back
{
    transform:rotateY(180deg);
    color: black;
}
.events-vertical .flip-card-back
{
    background-color: black;
    color: white;
    transform:rotateY(180deg);
}   
.events-vertical .black
{
    color: black;
}

.events-vertical .dark
{
    background-color: black;
    color: white;
}
.events-vertical .dark:hover
{
    color: black;
}

@media screen and (max-width: 1200px)
{
    .event-desp p 
    {
        font-size: 1vw !important;
    }
}

@media screen and (max-width:900px)
{
    .admin-events-flex, .admin-events-details-flex
    {
        flex-direction: column !important;
    }
    .admin-events-image-flex, .admin-events-image-flex img
    {
        width: 50vw !important;
        height: fit-content !important;
        align-items: center !important;
    }
    .admin-events-image-flex img 
    {
        height: 50vw !important;
    }

    .admin-events-flex p 
    {
        width: 90vw !important;
    }
    .admin-add .chakra-form__label 
    {
        font-size: 5vw !important;
    }
    .admin-add textarea 
    {
        padding: 4vw !important;
    }
    .admin-add .mde-header-item button 
    {
        width: 3vw;
        height: 3vw;
        margin-left: 1.5vw;
    }
    .admin-team
    {
        flex-direction: column;
    }
    .admin-team .chakra-form-control:last-child
    {
        width: 80vw;
    }

    .events-vertical
    {
        width: 100vw !important;
        overflow-x: hidden !important;
    }
    .events-vertical h2 
    {
        font-size: 10vw !important;
    }
    .vertical-desp
    {
        width: 80vw !important;
        font-size: 3vw !important;
    }
    .events-vertical .flip-card-front > div, .events-vertical .flip-card-back > div, .events-vertical .chakra-image, .events-vertical .glass
    {
        height: 30vw !important;
        width: 30vw !important;
    }
    .events-vertical .event-name > p
    {
        font-size: 3vw !important;
        margin: auto !important;
        width: 30vw !important;
    }
    .events-vertical .event-name
    {
        top: 10% !important;
        left: 25% !important;
    }
    .event-desp
    {
        width: 60vw !important;
    }
    .events-vertical .event-desp .chakra-text, .events-vertical .event-desp
    {
        width: 50vw !important;
        font-size: 2vw !important;
    
    }
    .events-vertical .event-desp .chakra-text > div > div ,.events-vertical .event-desp .chakra-text > div
    {
        height: fit-content !important;
    }
    .events-vertical .event-desp > div .chakra-text > div > div
    {
        margin-right: 2vw !important;
    }
    .events-vertical .event-desp > div .chakra-button
    {
        width: 100% !important;
    }
    .events-vertical .event-desp p
    {
        font-size: 5vw !important;
        text-align: center !important;
    }
    .events-vertical .vertical-events-flex 
    {
        width: 95vw !important;
        margin: auto !important;
        height: fit-content !important;
        /* flex-direction: column !important; */
        justify-content: space-between !important;
    }
    .event-main-box
    {
        width: 100vw !important;
        display: flex !important;
        /* height: 50vh !important; */
        flex-direction: column !important;
        justify-content: space-between;
        margin-bottom: 2vh !important;
    }
    .events-vertical .event-desp-glass
    {
        height: 50vw !important;
        width: 60vw !important;
    }
    .events-vertical .chakra-button
    {
        padding: 2vh !important;
    }
}
@media screen and (max-width: 500px)
{
    .events-vertical .event-desp .chakra-text, .events-vertical .event-desp
    {
        width: 50vw !important;
        font-size: 2vw !important;
    
    }
    .events-vertical .event-desp .chakra-text > div > div ,.events-vertical .event-desp .chakra-text > div
    {
        height: fit-content !important;
    }
    .events-vertical .event-desp > div .chakra-button
    {
        margin-bottom: 1vh !important;
        width: 100% !important;
    }
    .events-vertical .event-desp p
    {
        font-size: 5vw !important;
        text-align: center !important;
    }
    .events .chakra-heading
    {
        font-size: 12vw !important;
    }
    .events .vertical-timeline-element-content a 
    {
        font-size: 5vw !important;
    }
    .event-main-box
    {
        width: 100vw !important;
        display: flex !important;
        /* height: 40vh !important; */
        flex-direction: column !important;
        justify-content: space-between;
    }
}

@media screen and (max-width: 300px)
{
    .events-vertical .event-desp .chakra-text .chakra-button
    {
        font-size: 3.5vw !important;
    }
}