html{
    margin: 0%;
    overflow-x: hidden;
    padding: 0%;
}

.body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-size: 25px;
    font-size: 1.65vw;
    font-family: 'Poppins', sans-serif; 
}

.App-particles__container {
    overflow: hidden;
    position: absolute;
    top: 50px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 0;
  }
  .App-particles__container canvas {
    transition: 0.2s all ease-in-out;
    z-index: 1;
    height: 100%;
    width: 100%;
  }

  .readmore{
    float: inline-end;
    color: aquamarine;
  }
  
  .slider{
    position : relative;
    height: 100vh;
    display : flex;
    justify-content: center;
    align-items: center;
  }

  .right-arrow{
    position: absolute;
    top: 50%;
    right: 0%;
    font-size: 3rem;
    background-color: grey;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  .left-arrow{
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    background-color: grey;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  .slide{
    opacity: 0;
    transition-duration: 1s ease ;
  }

  .slide.active{
    opacity:1;
    transition-duration: 1s;
    transform : scale(1.08);

  }