.Home {
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background: url("../images/homepage_illustrations/Background_purple.png");
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.Home.black {
  background: url("../images/homepage_illustrations/LIGHT_bACK.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.Home::-webkit-scrollbar {
  display: none;
}
/* Home_sideNavBar */
.Home_sideNavBar {
  position: fixed;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 350px;
  z-index: 2;
}
.Home_sideNavBar::before {
  content: "";
  width: 3.2px;
  height: 100%;
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  z-index: 0;
}
.Home_sideNavBar.black::before {
  background-color: #fff;
}
.Home_sideNavBar .Home_sideNavBar_marker {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background: linear-gradient(180deg, #cc00ff 0%, #0075ff 100%);
  transition: 0.5s;
  z-index: 2;
}
.Home_sideNavBar a {
  position: relative;
  width: 30px;
  height: 30px;
  letter-spacing: 1px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #0e101b;
}
.Home_sideNavBar.black a {
  background: #fff;
}
.Home_sideNavBar a span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: 3;
}
.Home_sideNavBar a::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background: #0e101b;
  z-index: 0;
}
.black a::before {
  background-color: white;
}
section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  scroll-snap-align: start;
  padding-left: 150px;
}
@media screen and (max-width: 900px) {
  section {
    padding-left: 100px;
  }
}
@media screen and (max-width: 600px) {
  section {
    padding: 0 30px !important;
  }
}
@media screen and (max-width: 600px) {
  .Home_sideNavBar {
    left: 50%;
    top: auto;
    bottom: 0;
    transform: translateX(-50%);
    flex-direction: row;
    width: 100%;
    height: 50px;
  }
  .Home_sideNavBar::before,
  .Home_sideNavBar.black::before {
    width: 100%;
    height: 4px;
    bottom: 0px;
    background: #0075ff;
  }
  .Home_sideNavBar .Home_sideNavBar_marker {
    left: 33px;
    bottom: 0px !important;
    border-radius: 0;
    width: 40px;
    height: 45px;
    background: linear-gradient(180deg, #cc00ff 0%, #0075ff 100%);
    border-radius: 20px 20px 0 0;
  }
  .Home_sideNavBar a {
    background: transparent;
  }
  .Home_sideNavBar.white a::before {
    background: #fff0;
  }
  .Home_sideNavBar.black a::before {
    background: #fff;
    z-index: 3;
  }
}
/* Home_landingPage */
.Home_landingPage {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: url("../images/homepage_illustrations/back.png");
  background-position: 100% 50%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.Home_landingPage.black {
  background: none;
}
.Home_landingPage .ContentBox {
  max-width: 630px;
  position: relative;
  z-index: 2;
}
.Home_landingPage .ContentBox h1 {
  font-family: "Quicksand";
  font-size: 4.5em;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 1em;
}
.Home_landingPage .ContentBox p {
  font-size: 1em;
  letter-spacing: 1px;
}
.Home_landingPage .imgBox {
  max-width: 650px;
  max-height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
}
.Home_landingPage .imgBox .robo2 {
  position: relative;
  width: 25%;
  height: 100%;
  transition: 0.5s;
  z-index: 1;
}
.Home_landingPage .imgBox .robo2 img {
  position: absolute;
  bottom: 0;
  width: 100%;
  object-fit: contain;
}
.Home_landingPage .imgBox .robo1 {
  position: relative;
  width: 75%;
  height: 100%;
  object-fit: contain;
  transition: 0.5s;
  z-index: 1;
}
.Home_landingPage .imgBox .robo1 img {
  width: 100%;
  object-fit: contain;
}
/* .Home_landingPage .imgBox #robo_square {
  position: absolute;
  top: calc(50% + 25px);
  left: 25px;
  height: 500px;
  transform: translateY(-50%);
  object-fit: contain;
  transition: 0.5s;
  z-index: 0;
} */
.Home_landingPage .Follow {
  position: absolute;
  bottom: 50px;
  right: 50px;
  display: flex;
  align-items: center;
}
.Home_landingPage .Follow p {
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
}
.Home_landingPage .Follow a {
  text-decoration: none;
  font-size: 19px;
  letter-spacing: 2px;
  font-weight: 500;
}
.Home_landingPage .Follow a:nth-child(3):hover {
  color: crimson;
}
.Home_landingPage .Follow a:nth-child(5):hover {
  color: rgb(0, 92, 184);
}
.Home_landingPage .Follow a:nth-child(7):hover {
  color: red;
}
.Home_landingPage .Follow span {
  width: 2px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.548);
  margin: 0 10px;
  border-radius: 5px;
}
.Home_landingPage.black .Follow span {
  background-color: rgba(0, 0, 0, 0.8);
}
.Home_scroll_btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  width: 30px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home_scroll_btn span {
  background-color: #fff;
  width: 4px;
  height: 10px;
  border-radius: 10px;
  background-color: #fff;
  animation: mousey_scroll_animation 1.5s ease-in-out infinite;
}
.Home_landingPage.black .Home_scroll_btn {
  border: 3px solid #000;
}
.Home_landingPage.black .Home_scroll_btn span {
  background-color: #000;
  width: 3px;
  height: 14px;
}
@keyframes mousey_scroll_animation {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(-5);
  }
}
@media screen and (max-width: 800px) {
  .Home_landingPage {
    padding: 0 60px 60px 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .Home_landingPage h1 {
    margin-bottom: 5vw;
    text-align: center;
  }
  .Home_landingPage .imgBox {
    max-width: 650px;
    max-height: 650px;
    width: calc(100% - 40px);
    position: relative;
    transform: translate(0);
    left: 0;
    top: 0;
    /* top: 0;
    left: 50%;
    transform: translate(-50%, 0); */
  }
}
@media screen and (max-width: 600px) {
  .Home_landingPage .ContentBox {
    width: 100%;
  }
  .Home_landingPage .ContentBox h1 {
    font-size: 12vw;
    line-height: 1.1em;
    text-align: center;
  }
  .Home_landingPage .ContentBox p {
    font-size: 18px;
    text-align: center;
  }
  .Home_landingPage .Follow {
    top: auto;
    bottom: 80px;
    right: 10px;
  }
  .Home_scroll_btn {
    position: absolute;
    left: 20px;
    transform: translateX(0%);
    bottom: 70px;
  }
}
/* Home_whoAreWe */
/* .Home_whoAreWe {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("../images/whoAreWeBg.png");
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Home_whoAreWe h1 {
  font-size: 3.5em;
  font-weight: 700;
  letter-spacing: 5px;
}
.Home_whoAreWe p {
  font-size: 16px;
  letter-spacing: 1px;
  max-width: 700px;
  margin: 40px 0;
} */
.Home_whoAreWe {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Home_whoAreWe #heading {
  font-size: 4em;
  font-weight: 650;
  letter-spacing: 7px;
  text-align: center;
  position: relative;
  left: -50px;
}
.Home_whoAreWe #text {
  max-width: 600px;
  font-size: 1em;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  left: -50px;
}
.Home_whoAreWe #who_are_we_robo2 {
  position: absolute;
  left: 200px;
  bottom: 0;
  width: 200px;
  object-fit: contain;
}
.Home_whoAreWe #who_are_we_robo1 {
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  object-fit: contain;
}
/* @media screen and (max-width: 1000px) {
  .Home_whoAreWe {
    padding-top: 30vh;
  }
  .Home_whoAreWe #heading {
    font-size: 6vw;
  }
  .Home_whoAreWe #text {
    font-size: 3vw;
    width: 80%;
  }
}
 */
@media screen and (max-width: 800px) {
  .Home_whoAreWe {
    padding-right: 0px;
    padding-left: 50px;
    align-items: center;
  }
  .Home_whoAreWe * {
    text-align: center;
  }
  .Home_whoAreWe #heading {
    font-size: 8vw;
    line-height: 1em;
    margin-bottom: 20px;
    left: 0;
  }
  .Home_whoAreWe #text {
    left: 0px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .Home_whoAreWe #who_are_we_robo1 {
    width: 200px;
  }
  .Home_whoAreWe #who_are_we_robo2 {
    left: 0px;
  }
}
@media screen and (max-width: 600px) {
  .Home_whoAreWe #heading {
    font-size: 12vw;
  }
  .Home_whoAreWe #who_are_we_robo1 {
    display: none;
  }
  .Home_whoAreWe #who_are_we_robo2 {
    display: none;
  }
  .Home_whoAreWe #text {
    left: 0px;
    font-size: 12px;
    font-weight: 500;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
/*
@media screen and (max-width: 600px) {
  .Home_whoAreWe {
    padding-top: 14vh;
  }
  .Home_whoAreWe #heading {
    font-size: 7vw;
  }
  .Home_whoAreWe #text {
    width: 70%;
    font-size: 3vw;
  }
}
@media screen and (max-width: 450px) {
  .Home_whoAreWe {
    padding: 15vh 0;
  }
  .Home_whoAreWe #heading {
    font-size: 9vw;
    margin-left: 4vw;
  }
  .Home_whoAreWe #text {
    margin-left: 4vw;
    text-align: left;
    font-size: 4vw;
    width: 100%;
    padding: 8vw;
  }
} */
/* Home_WorkshopsEvents and Home_Speakers */
.Home_Speakers,
.Home_WorkshopsEvents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
  z-index: 0;
}
.Home_Speakers h1,
.Home_WorkshopsEvents h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
.speaker_swiper_container {
  width: calc(100% - 200px);
  height: 420px;
  padding: 40px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.Home_WorkshopsEvents.black .speaker_swiper_container,
.Home_Speakers.black .speaker_swiper_container {
  background-color: #d6d6d6;
}
.Home_WorkshopsEvents .speaker_swiper_container {
  height: 380px;
}
.speaker_swiper_container .swiper-container {
  width: 100%;
  height: fit-content;
  overflow-y: visible;
}
.speaker_swiper_container .swiper-container .swiper-slide {
  position: relative;
  width: 250px;
  height: 340px;
  overflow: hidden;
}
.Home_WorkshopsEvents
  .speaker_swiper_container
  .swiper-container
  .swiper-slide {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.speaker_swiper_container .swiper-container .swiper-slide img {
  user-select: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.speaker_swiper_container .swiper-container .swiper-slide .contentBox {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  transform: translateY(100%);
  transition: 0.5s;
  color: #fff;
}
.speaker_swiper_container .swiper-container .swiper-slide:hover .contentBox {
  transform: translateY(0%);
}
.Home_WorkshopsEvents .swiper-container .swiper-slide .contentBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.Home_WorkshopsEvents.black .swiper-container .swiper-slide .contentBox *,
.Home_Speakers.black .swiper-container .swiper-slide .contentBox * {
  color: #fff;
}
.speaker_swiper_container .swiper-container .swiper-slide .contentBox h3 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.speaker_swiper_container .swiper-container .swiper-slide .contentBox p {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.Home_WorkshopsEvents
  .speaker_swiper_container
  .swiper-container
  .swiper-slide
  .contentBox
  p {
  text-align: center;
}
.swiperControllers {
  display: flex;
  align-items: center;
}
.swiperControllers .swiper-prev-con,
.swiperControllers .swiper-next-con {
  position: relative;
  margin: 20px;
  cursor: pointer;
}
.swiperControllers .swiper-prev-con img,
.swiperControllers .swiper-next-con img {
  height: 30px;
  object-fit: contain;
}
.Home_WorkshopsEvents.black .swiperControllers .swiper-prev-con img,
.Home_WorkshopsEvents.black .swiperControllers .swiper-next-con img,
.Home_Speakers.black .swiperControllers .swiper-prev-con img,
.Home_Speakers.black .swiperControllers .swiper-next-con img {
  filter: invert(1);
}
.swiperControllers .swiper-next-con {
  transform: rotate(180deg);
}
.swiperControllers .swiper-pagination {
  position: relative;
  display: flex;
  align-items: center;
}
.swiperControllers .swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgb(219, 219, 219);
  opacity: 1;
}
.Home_WorkshopsEvents.black
  .swiperControllers
  .swiper-pagination
  .swiper-pagination-bullet,
.Home_Speakers.black
  .swiperControllers
  .swiper-pagination
  .swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(88, 88, 88);
}
.swiperControllers .swiper-pagination .swiper-pagination-bullet-active {
  width: 20px;
  height: 20px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(20, 255, 0, 0) 0%,
    rgba(20, 255, 0, 0.3321) 100%
  );
  border: 1px solid #14ff00;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.Home_WorkshopsEvents.black
  .swiperControllers
  .swiper-pagination
  .swiper-pagination-bullet-active,
.Home_Speakers.black
  .swiperControllers
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background: radial-gradient(50% 50% at 50% 50%, 08630033 0%, #086300 100%);
  border: 1px solid #086300;
}
.swiperControllers .swiper-pagination .swiper-pagination-bullet-active::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #14ff00;
}
.Home_WorkshopsEvents.black
  .swiperControllers
  .swiper-pagination
  .swiper-pagination-bullet-active::before,
.Home_Speakers.black
  .swiperControllers
  .swiper-pagination
  .swiper-pagination-bullet-active::before {
  background-color: #00a31b;
}
.Home_Speakers a,
.Home_WorkshopsEvents a {
  padding: 6px 20px 7px 20px;
  letter-spacing: 1px;
  font-weight: 500;
  background: linear-gradient(91.69deg, #3300ff 0%, #db00ff 100%);
  transition: 0.2s;
  width: fit-content;
  color: #fff;
}
.Home_Speakers a:hover,
.Home_WorkshopsEvents a:hover {
  letter-spacing: 2px;
}
.Home .Footer.white {
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid #fff4;
  backdrop-filter: blur(2px);
}
.Home .Footer.white .bottom {
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 1px solid #fff4;
  backdrop-filter: blur(2px);
}
@media screen and (max-width: 500px) {
  .Home_Speakers h1,
  .Home_WorkshopsEvents h1 {
    font-size: 8vw;
    margin-top: 5vw;
  }
  .Home_Speakers .speaker_swiper_container .swiper-container .swiper-slide,
  .Home_WorkshopsEvents
    .speaker_swiper_container
    .swiper-container
    .swiper-slide {
    width: 100%;
    height: 100%;
  }
  .Home_Speakers .speaker_swiper_container {
    height: 110vw;
    width: 100vw;
    padding: 20px;
    border-radius: 0;
  }
  .Home_WorkshopsEvents .speaker_swiper_container {
    height: 90vw;
    width: 100vw;
    padding: 20px;
    border-radius: 0;
  }
  .Home_Speakers .speaker_swiper_container .swiper-container,
  .Home_WorkshopsEvents .speaker_swiper_container .swiper-container {
    position: relative;
    height: 100% !important;
    width: 90% !important;
  }
  .Home_WorkshopsEvents
    .speaker_swiper_container
    .swiper-container
    .swiper-slide
    .contentBox
    h3 {
    font-size: 6vw;
    font-weight: 700;
    letter-spacing: 4px;
  }
  .Home_WorkshopsEvents
    .speaker_swiper_container
    .swiper-container
    .swiper-slide
    .contentBox
    p {
    font-size: 4vw;
    font-weight: 400;
  }
  .Home .Footer {
    padding: 0 0 50px 0 !important;
    backdrop-filter: none;
  }
}
/* Home_Testimonials */
.Home_Testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home_Testimonials h1 {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-40%);
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
.Home_Testimonials .testimonial_card_container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}
.Home_Testimonials .testimonial_card_container::-webkit-scrollbar {
  background-color: transparent;
  height: 12px;
}
.Home_Testimonials .testimonial_card_container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.Home_Testimonials .testimonial_card_container .testimonialWrapper {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.Home_Testimonials .testimonial_card_container .testimonialWrapper::before {
  content: "";
  flex: 1;
  width: 100%;
  height: 0px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-bottom: 3px solid #fff;
  border-style: dashed;
}
.Home_Testimonials.black
  .testimonial_card_container
  .testimonialWrapper::before {
  border-bottom: 3px solid #0264c7;
  border-style: dashed;
}
.Home_Testimonials .testimonialWrapper .testimonial_card_cover {
  width: 280px;
  margin: 0 20px;
  height: 100%;
  position: relative;
}
.Home_Testimonials
  .testimonialWrapper
  .testimonial_card_cover
  .testimonial_card {
  position: absolute;
  bottom: calc(50% + 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 10px 15px;
  background-color: rgb(7, 7, 14);
  border-bottom: 4px solid dodgerblue;
}
.Home_Testimonials.black
  .testimonialWrapper
  .testimonial_card_cover
  .testimonial_card {
  background-color: #6ac8f3;
  border-bottom: 4px solid rgb(2, 100, 199);
  color: #000;
}
.Home_Testimonials
  .testimonialWrapper
  .testimonial_card_cover:nth-child(even)
  .testimonial_card {
  flex-direction: column-reverse;
  border-top: 4px solid dodgerblue;
  border-bottom: 0px;
  top: calc(50% + 80px);
}
.Home_Testimonials.black
  .testimonialWrapper
  .testimonial_card_cover:nth-child(even)
  .testimonial_card {
  border-top: 4px solid rgb(2, 100, 199);
}
.Home_Testimonials
  .testimonialWrapper
  .testimonial_card_cover
  .testimonial_card:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 4px);
  width: 0;
  height: 80px;
  border-right: 3px dashed #fff;
}
.Home_Testimonials.black
  .testimonialWrapper
  .testimonial_card_cover
  .testimonial_card:after {
  border-right: 3px dashed rgb(2, 100, 199);
}
.Home_Testimonials
  .testimonialWrapper
  .testimonial_card_cover
  .testimonial_card:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 77px);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
}
.Home_Testimonials.black
  .testimonialWrapper
  .testimonial_card_cover
  .testimonial_card:before {
  background-color: rgb(2, 100, 199);
}
.Home_Testimonials
  .testimonialWrapper
  .testimonial_card_cover:nth-child(even)
  .testimonial_card:after {
  bottom: calc(100% + 4px);
  top: auto;
}
.Home_Testimonials
  .testimonialWrapper
  .testimonial_card_cover:nth-child(even)
  .testimonial_card:before {
  bottom: calc(100% + 77px);
  top: auto;
}
.Home_Testimonials .testimonialWrapper .testimonial_card p {
  font-size: 13px;
  letter-spacing: 1px;
  word-spacing: 5px;
  display: inline-block;
  height: 0px;
  overflow-y: hidden;
  transition: 0.5s;
}
.Home_Testimonials.black .testimonialWrapper .testimonial_card p {
  font-weight: 600;
}
.Home_Testimonials .testimonialWrapper .testimonial_card:hover p {
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home_Testimonials .testimonialWrapper .testimonial_card .profile {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}
.Home_Testimonials.black .testimonialWrapper .testimonial_card .profile h3 {
  font-weight: 600;
}
.Home_Testimonials .testimonialWrapper .testimonial_card .profile p {
  display: inline;
  line-height: 0;
  word-spacing: normal;
  letter-spacing: normal;
}
.Home_Testimonials .testimonialWrapper .testimonial_card .profile .imgBox {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
}
.Home_Testimonials .testimonialWrapper .testimonial_card .profile .imgBox img {
  width: 50px;
  height: 50px;
  object-fit: fill;
}
@media screen and (max-width: 600px) {
  .Home_Testimonials h1 {
    top: 80px;
    transform: translateX(-50%);
  }
  .Home_Testimonials h1 {
    font-size: 8vw;
  }
  .Home_Testimonials .testimonial_card_container::-webkit-scrollbar {
    display: none;
  }
  .Home_Testimonials
    .testimonialWrapper
    .testimonial_card_cover
    .testimonial_card {
    bottom: calc(50% + 25px);
  }
  .Home_Testimonials
    .testimonialWrapper
    .testimonial_card_cover
    .testimonial_card:before {
    top: calc(100% + 22px);
  }
  .Home_Testimonials
    .testimonialWrapper
    .testimonial_card_cover
    .testimonial_card:after {
    display: none;
  }
  .Home_Testimonials
    .testimonialWrapper
    .testimonial_card_cover:nth-child(even)
    .testimonial_card {
    top: calc(50% + 25px);
  }
  .Home_Testimonials
    .testimonialWrapper
    .testimonial_card_cover:nth-child(even)
    .testimonial_card:before {
    bottom: calc(100% + 22px);
  }
}
