@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.login 
{
    font-family: 'Roboto', sans-serif;
}
.login span 
{
    color: #2467a1;
}
.login
{
    backdrop-filter: blur(30px);
    backdrop-filter: opacity(20%);
}
/* .login .blackG
{
    background-image: linear-gradient(45deg, rgba(17, 16, 19, 0.432), rgba(0, 0, 0, 0));
} */
.login .blackG input, .login .blackG select
{
    background-color: white;
    color: black !important;
    background-image: unset;
    border: 2px solid black;
}

.profile-main-flex .swiper, .profile-main-flex .swiper-container, .profile-main-flex .swiper-wrapper
{
    width: 55vw;
    height: fit-content;
}
.profile-main-flex .swiper-slide
{
    border-radius: 10px;
    background-color: #C2C4FF;
    width: 15vw;
}
.profile-main-flex input, .profile-main-flex select
{
    background-color: white;
    color: black;
}



@media screen and (max-width: 900px)
{
    .profile-main-flex
    {
        flex-direction: column !important;
    }
    .profile-main-flex .chakra-image 
    {
        display: none;
    }
    .profile-main-flex > div:first-child
    {
        flex-direction: row !important;
        align-items: center !important;
        width: 100vw;
        margin-bottom: 4vh;
    }
    .profile-main-flex > div:first-child a 
    {
        margin-bottom: 0;
        font-size: 3vw;
        margin-right: 10vw;
    }
    .profile-main-flex > div:last-child > div:first-child
    {
        width: 95vw;
    }

    .login
    {
        padding: 0% !important;
        padding-top: 10vh !important;
    }
    .login-main-box
    {
        width: 100vw !important;   
        border-radius: unset !important;
    }
    .login-main-box .chakra-heading 
    {
        font-size: 15vw;
    }
    .login-image
    {
        display: none;
        right: 15% !important;
        width: 60vw !important;
        height: auto !important;
    }
}

@media screen and (max-width: 700px)
{
    .profile-main-flex > div:last-child > div:first-child
    {
        width: 95vw;
    }
    .profile-main-flex > div:first-child a 
    {
        margin-bottom: 0;
        font-size: 5vw;
        margin-right: 5vw;
    }
    .profile-heading
    {
        font-size: 10vw !important;
        margin-top: 15vh;
    }
}
@media screen and (max-width: 300px)
{
   .profile-button-flex
   {
       flex-direction: column;
   }
}