/* she can */
#she-can{
    scroll-snap-align: start;
}
.she-can-intro{
    position: relative;
    display: flex;
    padding: 10rem 8rem;
    padding-top: 2rem;
    padding-right: 0;
    margin: 1rem 4rem;
    justify-content: space-between;
}
.she-can-heading{
    color: var(--green);
    font-family: 'Paytone One', sans-serif;
    transition: all 0.6s ease-out;
    /* font-size: 150px; */
    font-size: 9.9vw;
    letter-spacing: 10px;
    transform: translateY(20%);
}
.she-can-heading:hover{
    line-height: 14rem;
    letter-spacing: 25px;
    color: var(--pink);
}
.she-can-heading-hover-light{
    line-height: 14rem;
    letter-spacing: 25px;
    color: var(--brown);
}


.she-can-logo{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.wrap{
    width: 60%;
    position: relative;
}
.she-can-intro-info{
    /* width: 60%; */
    width: 90%;
    z-index: 2;
    background-color: var(--pink);
    color: var(--brown);
    font-weight: 500;
    padding: 4rem;
    text-align: right;
    margin: auto;
    /* margin: 0 2rem; */
}
.she-can-backdiv{
    position: absolute;
    z-index: -10;
    left: 5%;
    background-color: var(--green);
    height: 100%;
    width: 90%;
}

.wrap-image{
    position: relative;
    margin: auto;
    width: 70%;
}

.she-can-backdiv-image{
    position: absolute;
    opacity: 0.8;
    z-index: -1;
    background-color: var(--pink);
    /* height: 500px;
    width: 1000px; */
    /* height: 33vw;
    width: 66vw; */
    height: 100%;
    width: 100%;
}


.she-can-recog{
    margin-top: 10rem;
    padding: 1rem;
    background-image: url("../../images/socialEndeavours/recogBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.recog-info-child  a:hover{
    color: var(--brown);
}

.recog-heading{
    color: var(--brown);
    width: 90%;
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    margin: 6rem auto;
    margin-bottom: 0;
}
@keyframes headslide{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.recog-info{
    color: var(--dblue);
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.recog-info-child{
    width: 60%;
    margin-bottom: 6rem;
}
.recog-info-child:nth-child(2)
{
    width: 80%;
}
.moe{
    align-content: space-between;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

#link-she-can a:hover{
    color: var(--dblue);
}

@media screen and (max-width: 1100px)
{
    .title{
        font-size: 5vw;
    }
    .info{
        font-size: 3vw;
    }
    .recog-info-child:nth-child(2)
    {
    width: 80%;
    }   
}
@media screen and (max-width: 950px)
{
    .she-can-intro{
        padding: 0%;
        flex-direction: column;
        row-gap: 8rem;
        margin: 0 auto;
        align-items: center;
    }
    .she-can-intro-info{
        padding: 2rem;
    }
    .she-can-heading{
        font-size: 12vw;
        line-height: 12vw;
    }
    .she-can-recog{
        padding: 1vw;
    }
    .recog-info{
        width: 100%;
        font-weight: bold;
    }
    .recog-info-child{
        width: 100%;
    }
    .title{
        font-size: 15px;
    }
}
@media screen and (max-width: 850px)
{
    .she-can{
        margin: 0%;
        margin-top: 8vw;
    }
    .she-can-intro{
        padding: 0%;
        margin: 0;
    }
    .wrap{
        width: 100%;
    }
    .recog-heading{
        margin: 0;
        font-size: 3rem;
    }
    .she-can-heading{
        font-size: 25vw;
        line-height: 25vw;
    }
    .she-can-intro-info{
        width: 100%;
        font-size: 4vw;
        text-align: center;
        margin: 0%;
        padding: 8vw;
    }
    .she-can-backdiv{
        width: 100%;
    }
    .she-can-recog{
        margin: 18vw 0;
        margin-bottom: 5vw;
    }
    .recog-heading{
        margin: 5vw 0;
        padding: 0%;
        font-size: 15vw;
    }
    .recog-info-child .title{
        font-size: 8vw;
    }
    .recog-info{
        margin-bottom: 0vw;
    }
    #link-she-can{
        padding: 2rem;
    }
    .info{
        font-size: 7vw;
    }
    .info p{
        padding: 2vw;
    }
    .info p:nth-child(odd){
        font-size: 10vw;
        line-height: 15vw;
    }
}
@media screen and (max-width: 600px)
{
    .info{
        padding: 0%;
    }
    #link-she-can a:hover{
        line-height: 10vw;
    }
}